<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Booking.css">
</head>
<body>
    <form class="form">
        <h1>BOOK NOW !!</h1>
        <div class="flex">
            
            <label>
                <input class="input" type="text" placeholder="" required>
                <span>Name</span>
            </label>

            <label>
                <input class="input" type="number" placeholder="" required>
                <span>Contact Number</span>
            </label>
        </div>  

        <label>
            <input class="input" type="text" placeholder="" required>
            <span>Event Name</span>
        </label> 
        
        <label>
            <input class="input" type="date" placeholder="" required>
            <span>Event Date</span>
        </label>

        <label>
            <input class="input" type="time" placeholder="" required>
            <span>Event Time</span>
        </label>

        <label>
            <select class="input" required>
                <option value="">--Select Package--</option>
                <option value="silver">Basic Plan</option>
                <option value="gold">Standard Plan</option>
                <option value="platinum">Premium Plan</option>
            </select>
        </label>
        <label> Payment Method </label>
        <div class="flex1">
            <input type="radio" id="credit_card" name="payment_method" value="credit_card" required>
            <label for="credit_card">Credit Card</label>
        
            <input type="radio" id="paypal" name="payment_method" value="paypal" required>
            <label for="paypal" >Debit Card</label>
        </div>
    
        <button class="submit">Submit</button>
       
    </form>
</body>
</html>
